{% extends 'base/base.html' %}
{% block content %}
<div class="row">
    <div align="center"><h2>COMMERCIAL REMODELING</h2><br>
        <p class="blocktext">
        Austin's Remodeling has the experience and training to provide the
        best in commercial remodeling. All jobs are owner supervised and executed
        by our seasoned professionals. Our goal as a company is to establish
        a reputation for providing top quality commercial remodeling services
            in the Austin, TX surrounding areas.</p><br>
        
        <p class="blocktext">From hotel renovation to office remodeling, Austin's Remodeling is dedicated
        to providing 100% customer satisfaction to businesses in the Lone
        Star state. Our highly skilled and dedicated team work quickly and
        efficiently, to ensure a minimum of disruption to the working environment
        while staying within time constraints. We schedule our work hours
        to suit your needs, even working overnight if needed to minimize disruption
        to your business. We're experienced at problem-solving installation
        techniques; working closely with electrical, plumbing, A/C and heating
            services.</p><br>
            
        <p class="blocktext">We know that business people are busy managing the many challenges
        facing today's owners and managers. Let us help you by taking some
        of the headaches out of that expansion, remodeling or new building
            project you are thinking of.</p>
        
        <h2>Our Remodeling Services Include:</h2>
            
            <h3>Hotel Spa Remodeling</h3>
        <p class="blocktext">Specializing in hotel room and public space remodeling projects
        with emphasis in Remodeling Room Reconfigurations; Commercial Lighting;
        Bathroom/Restrooms; Flooring ; Carpet ; Drywall; Paint; Cabinets &amp;
        Countertops ; Shelving System; Mirrors and Artwork installation;
            Facade Enhancements; Windows; Signage; Corridors ; Sidewalks and Curbs</p>

            <h3>Restaurant Remodeling</h3>
        <p class="blocktext">Remodeling a restaurant site that already exists can be a harrowing
        undertaking. Any type of construction is costly, but if you are hesitant
        and unsure of what you are really doing it can be extremely expensive, both in
        time and money. We can help you manage the entire
        process, from step one of the renovation from the electronics to POS systems to the decals on your windows.
        Medical Facilities From dental offices, to doctor's offices, Austin's Remodel
        specializes in interior build outs that can give your expanding office
            more room or a fresh, new look.</p>
               
            <h3>Retail Remodeling</h3>
        <p class="blocktext">Includes carpentry, millwork, store furniture,racking, shelving, and fixture
        installation. With many satisfied customers being serviced on short notice
        we have gained a reputation for being there when other remodeling
        contractors have been unavailable while maintaining quality, dependability
            and minimizing disruption to regular business operations.</p>
                
            <h3>Tenant Improvement</h3>
        <p class="blocktext">Whether it's a simple remodel, or a major renovation
        WE specialize in commercial tenant improvements providing creative
        and distinctive construction solutions for a variety of commercial
        needs. We serve building owners and building managers by providing
        personal attention, timely response and reasonable costs for jobs
        of all sizes. Our focus is on building long-term relationships with
            our clients.</p>
            
            <h3>Office Remodeling</h3>
        <p class="blocktext">Commercial office remodeling is very different
        from residential. The excessive wear and tear from high traffic levels
        requires understanding of the different materials, work flows and
        usage requirements. From accountants to medical facilities to small
        businesses, WE can remodel and renovate any office size.
        Ever had a project managed without a central organizational contact? Things
        can get confusing, quickly! Why didn't the materials arrive on time?
        When will the electrical contractor be on site to start? WE will
        guide YOU, our client, through the design, costing, scheduling and construction
        phases of the project. This involvement can expedite the schedule
        of the project well in advance and allow the client to have us as an essential part
            of the team.</p>
                
            <h3>Commercial Repairs</h3>
        <p class="blocktext">Why hassle with trying to tackle repairs when
        you have a business to run? Austin's Remodel will work on your schedule
        to ensure that your business is maintained, with regular visits, or
        as-needed calls.<br></p>
        Our goal is to provide you with personalized service and quality workmanship
            at fair prices. Austin's Remodeling Company is ready to assist you.
    </div>
</div>
{% endblock %}