{% extends 'base/base.html' %}
{% block content %}            	
<div class="inner"> 
    <h2>Home Theatre Installation</h2>
        <p>With over a decade in experience remodeling residential and commercial buildings we have
        the knowledge and experience neccessary for any remodeling task.</p>
        <p>If you have been dreaming of a home theatre that's not only practical
        and attractive, but also serves as a place for peace and calm serenity, 
        our home theatre experts can help you. </p>

    <h3>Our team's home theatre installation services include, but are not limited to:</h3>
        <ul>
            <li>That all outlets and/or wiring is hidden and not exposed.</li>
            <li>That the lighting in the room, lights/windows, does not hinder your
            entertainment experience.</li>
            <li>That all electronic components have adequate and neccessary space to function properly.</li>
            <li>That all wiring is top quality and efficient enough for the technology that you are using.</li>
            <li>Consultations on the electronics you're using will enlighten you on whether or not certain
            technologies are more compatible than others.</li>
            <li>Intelligent placement of the entertainment systems, including installing speakers in
            the wall, making a more <em>feng shui</em> room for you and your family.</li>
        </ul>
    </div>
</div>
{% endblock %}