{% extends 'base/base.html' %}
{% block content %}
<div align="center">
<h2>RESIDENTIAL REMODELING</h2><br>
               	
    <h3>Home Improvement / General Construction</h3>
    <p class="blocktext">Austin's Remodeling Company specializes in all aspects of home remodeling. Once 
    your home renovation is complete, your home will increase dramatically 
    in terms of both value and beauty. Our specialty is providing complete 
    home improvement services; and that's why complete home renovation 
    is our favorite type of project.</p>
    
    <p class="blocktext">In a successful home improvement project, the strategy must be designed 
    properly, all materials must be ordered in a timely fashion and the 
    construction must be managed so it flows smoothly. That's exactly 
    what we do. Every year we successfully perform a broad variety 
    of home renovation projects from small to complex renovations. Our 
    general contractors service Austin, San Marcos, San Antonio and more.
    <a href="contact.html">Contact Us</a> to schedule a FREE on-site consultation 
    and we will give you a prompt estimate for your project.</p>
       
            
<h3>A listing of our services include, but are not limited to:</h3>

    <p class="bocktext">Complete Home Renovation, General Construction, Kitchen - custom cabinets, 
    Eco-friendly solutions along with Interior Designer referalls,
    Bath - custom cabinets, countertops, Interior and Exterior painting, wallpapering,
    Remodeling Fences wood and metal, Tile and Carpet installation,
    Room Lighting and upgrades, Windows and Doors Installation,
    Basements, Fireplaces, Paneling, Stair building and reconstruction,
    Electrical upgrades, Closet Storage Installation,
    Room Additions and sunrooms, Attic Insulation Installation,
    Heating and Cooling, we have a team of HVAC certified contractors</p>

All available to you through our Home Project Management team. If it needs remodeled, we do it.
{% endblock %}