{% extends 'base/base.html' %}
{% block content %}
    <div align="center">
        <h3>Stainless Steel Fabrication</h3>
    </div>
        <p>Metal Fabrication and welding that works for residential and commercial environments. 
		We specialize in stainless steel. 
		Whether you already have a drawing prepared or just a basic idea of what you want, 
            we can take care of your metal needs from design through installation.</p>
		<p>Furthermore, we stand behind the quality of our work and will do everything in our power to ensure
            that you are more than satisfied with the finished product.</p>
{% endblock %}